:root {
  --fontsize: 150%;
  --textcolor: white;
}

a {
  font-size:var(--fontsize)/2;
  color:red;
  text-align: center;
}

body {
  background-color: #00004d;
}

form {
  text-align: center;
}

h1, h2 {
  color: var(--textcolor);
  text-align: center;
}
img {
  width: 600px;
  height: auto;
  max-width: 100%;
}
label {
  color: var(--textcolor);
  font-size: var(--fontsize);
  text-align: center;
}

li {
  color: var(--textcolor);
  font-size: var(--fontsize);
}
input {
  font-size: var(--fontsize);
}

p {
  font-size:var(--fontsize);
  color: var(--textcolor);
  text-align: center;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px;
  background-color: #4CAF50;
}

td {
  text-align: center;
}

.tablediv {
  width: 75%;
  margin: 0 auto;
}

.flex-container {
  width: 75%;
  margin: 0 auto;
  display: grid;
}


.pusheen_img {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width:20%;
  height:20%;
}


.text {
  margin: 0 auto;
  text-align: center;
  width:50%;
  display:block;
  position:relative;
}
