body {
  background-color: powderblue;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
ul {
  color: white;
  text-align: center;
}
a {
  color:red;
}

.pushimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 45%;
  padding: 2.5%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
