<!doctype html>
<html>

<head>
  <title>My Personal Blog Page</title>
  <meta name="description" content="Blog page">
  <meta name="keywords" content="html tutorial template">
  <!-- default favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-color:#00004d;">
  <a href="https://jacobpark1080.pythonanywhere.com/" style="display:inline-block;width:25%;height:25%">
    <img class="pusheen_img" src="{{ url_for('static', filename='images/home_pusheen.jpg') }}" alt='Pusheen the cat'>
  </a>
  <h1>Posts of my thoughts and events</h1>
  <div class="text">
    <ul>
      <li>
        <p>
          Getting caught up: About a month ago I decided to move to San Francisco to attend a coding bootcamp.It had been a dream of mine to spend extended time in San Francisco. Having recently graduated from my Masters, it seemed like a good chance to take a risk on a new experience. The move went well and I felt right at home once I landed. I’ve enjoyed getting to  live in an actual big city. I am now trying to figure out the best way to extend my time out here longer than the original three months that I have set aside. All while trying to get settled into a new career and find my way in this world as it is.
          Unfourtunately for me, the corona virus decided to explode into the world at the same time. This has caused me to get very concerned on two fronts.
          1. That I have decided to move to a dense and highly populated area with a high exposure risk.
          2. When I complete the coding bootcamp in three months, I will be entering the job market during a recession and there will be a lack of jobs to find.


          Despite these setbacks I have decided to go ahead with my plans as if everything will continue normally. I want to try and carry a sense of optimism and seek out opportunities in these turbulent and uncertain times. To be successful and achieve goals, it takes perserverence and overcomming  adversity no matter what the circumstances. It is the adverse conditions that make the outcomes that much more enjoyable.
        </p>
      </li>
      <br>
      <li>
        <p>
          3/12/20: Today I finally got the call that my coding bootcamp will be converting to remote class procedures due to the corona virus outbreak. I do understand the reasoning, and I am not at all surprised as most  higher education facilities have been closing their campuses. However, it does make me feel upset that I may not get to work one-on-one with peers and miss out on the experience of working in collaboration with others for a common goal. This was a big selling point in my decision to go down this coding bootcamp path and now it has been set aside for the time being. Fingers crossed that this will not be the permanent status of things for the duration of the school and that we can see things return to normal within the next three months.
        </p>
      </li>
    </ul>
  </div>
</body>

</html>
