<!doctype html>
<html>
<head>
  <title>My Personal HTML Page</title>
  <meta name="description" content="My home page">
  <meta name="keywords" content="html tutorial template">
  <!-- default favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
</head>

<body>
  <div class="flex-box">
    <div style="width:25%; height:auto; margin-right: 1%">
      <img src="{{ url_for('static', filename='images/IMG_3125.jpg') }}" alt='SF City' style="width:100%; height:100%;">
    </div>
    <div style="width:50%; height:auto;">
      <img src="{{ url_for('static', filename='images/IMG_0947.jpg') }}" alt='The Future is...' style="width:100%; height:100%;">
    </div>
    <div style="width:25%; height:auto; margin-left: 1%">
      <img src="{{ url_for('static', filename='images/IMG_4900.jpg') }}" alt='NY City' style="width:100%; height:100%;">
    </div>
  </div>
  <br>
  <br>
  <div class="flex-box">
    <div style="width:33%;height: auto;">
      <img src="{{ url_for('static', filename='images/me.png') }}" alt='self portrait' style="width:75%;height:auto;float:right;">
    </div>
    <div style="width:66%;height: auto;">
      <div class="text">
        <h1>Hey hey, this is Jacob's Website!</h1>
        <p>I want to make this website to practice web development skills and showcase my interests and what I am working on.</p>
        <!--<p>What is going on with me in the world can be summarized on my <a href="./blog">Blog Page</a>.</p>-->
        <p>I can share my personal projects as well as notebooks and the like on my <a href="./projects">Projects Page</a>.</p>
        <p>I also want to capture the beautiful San Francisco environment while I am here, and show off my other adventures. Take a look at my <a href="./photos">Photos Page</a>.</p>
      </div>
    </div>
  </div>
  <div>
    <p style="text-align: center;">I also have links to my social media and professional highlights. Connect and follow me!</p>
    <div class="flex-box">
      <button onclick="window.open('https://www.linkedin.com/in/jacob-p-park/')"><img src="{{ url_for('static', filename='linkedin.ico') }}" class="social_img"><div><p class="social_text">LinkedIn</p></div></button>
      <button onclick="window.open('https://github.com/jacobpark1080/')"><img src="{{ url_for('static', filename='github.ico') }}" class="social_img"><div><p class="social_text">Github</p></div></button>
      <button onclick="window.open('https://twitter.com/cali_buffalo')"><img src="{{ url_for('static', filename='twitter.ico') }}" class="social_img"><div><p class="social_text">Twitter</p></div></button>
      <button onclick="window.open('{{ url_for('static', filename='Resume2020.pdf') }}')"><img src="{{ url_for('static', filename='resume.ico') }}" class="social_img"><div><p class="social_text">Personal Resume</p></div></button>
    </div>
  </div>
  <br>
  <div class="footer">
    <p style="text-align:center">And of course Pusheen helps makes it feel like home(page)</p>
    <p style="text-align:center">You can click on Pusheen anywhere on the website to get back to the Home Page</p>
    <a href="https://jacobpark1080.pythonanywhere.com/">
      <img class="pusheen_img" src="{{ url_for('static', filename='images/home_pusheen.jpg') }}" alt='Pusheen the cat'>
    </a>
  </div>
</body>

</html>
