<!doctype html>
<html>
  <head>
    <title>My Personal Photos Page</title>
    <meta name="description" content="Photos page">
    <meta name="keywords" content="html tutorial template">
    <!-- default favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo_style.css') }}">
  </head>

  <body style="background-color:#00004d;">
    <a href="{{ url_for('home') }}" style="display:inline-block;width:25%;height:25%">
      <img class="pusheen_img" src="{{ url_for('static', filename='images/home_pusheen.jpg') }}" alt='Pusheen the cat'>
    </a>
    <h1>My Collection of Photos</h1>
    <p>These are a bunch of photos I took while living in San Francisco</p>
    <table>
      <tr>
        <td ><img src="{{ url_for('static', filename='images/IMG_9381.jpg') }}" alt='SF pic 1' style="width:100%;height:100%"></td>
        <td><img src="{{ url_for('static', filename='images/IMG_7432.jpg') }}" alt='SF pic 2' style="width:100%;height:100%"></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='images/IMG_4925.jpg') }}" alt='SF pic 3' style="width:100%;height:100%"></td>
        <td><img src="{{ url_for('static', filename='images/IMG_0067.jpg') }}" alt='SF pic 4' style="width:100%;height:100%"></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='images/IMG_5523.jpg') }}" alt='SF pic 7' style="width:100%;height:100%"></td>
        <td><img src="{{ url_for('static', filename='images/IMG_5528.jpg') }}" alt='SF pic 8' style="width:100%;height:100%"></td>
      </tr>
    </table>
  </body>
</html>
