<!doctype html>
<html>
  <head>
    <title>My Personal Projects Page</title>
    <meta name="description" content="Projects page">
    <meta name="keywords" content="html tutorial template">
    <!-- default favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_style.css') }}">
  </head>

  <body>
    <button onclick="window.location = '{{ url_for('home') }}'">
      <img class="pusheen_img" src="{{ url_for('static', filename='images/home_pusheen_copy.jpeg') }}" alt='Pusheen the cat'>
    </button>

    <br>
    <h1>Personal Projects</h1>

    <p>Collection of my notebooks and projects from the coding bootcamp,
    as well as any other personal items I have been working on.</p>

    <ol>
      <li style="padding-bottom: 37px">
        <h1>TODO CRUD APP</h1>
        <div id="error_add" style="display: none">
          <p>Couldn't add that item because it is already in the database</p>
        </div>
        <div id="error_update" style="display: none">
          <p>Couldn't update that item because it is not in the database</p>
        </div>
        <div id="error_delete" style="display: none">
          <p>Couldn't remove that item because it is not in the database</p>
        </div>

        <!-- Removed Click to see Schedule functionality
        <div>
          <button id="myButton" class="button" type="button" onclick="showSchedule()">Click here to check your TODO schedule</button>
        </div>
        -->

        <div id="mySchedule" >
          <div>
            <table class="table">
              <tr>
                <th>DATE</th><th>ITEM</th><th>STATUS</th>
              </tr>
              {% for data in data %}
                <tr>
                  <td>{{data[2]}}</td><td>{{data[0]}}</td><td>{{data[1]}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <p>What would you like to do to your schedule?</p>

          <div class="container">
            <button class="button" type="button" onclick="addItem()">Add Item</button>
            <button class="button" type="button" onclick="updateItem()">Update Item</button>
            <button class="button" type="button" onclick="removeItem()">Remove Item</button>
          </div>
          <br><br>

          <div id="myAdd" class="container" style="display: none">
            <!-- Cannot add an Item entry named "item" or Status entry named "status". Build validation -->
            <form action="{{ url_for('add_item') }}" method="POST" onsubmit="return validateAdd();">
              <label for="item">Add a new item and status: </label>
              <input type="text" id="addItem" name="item" style="margin: 5px">
              <input type="text" id="addStatus" name="status" style="margin: 5px">
              <input class="button" type="submit" value="Submit" style="margin-top: 15px">
            </form>
          </div>
          <div id="myUpdate" class="container" style="display: none">
            <form action="{{ url_for('update_status') }}" method="POST" onsubmit="return validateUpdate();">
              <label for="item">Update an existing item: </label>
              <input type="text" id="updateItem" name="item" style="margin: 5px">
              <input type="text" id="updateStatus" name="status" style="margin: 5px">
              <input class="button" type="submit" value="Submit" style="margin-top: 15px">
            </form>
          </div>
          <div id="myDelete" class="container" style="display: none">
            <form action="{{ url_for('delete_item') }}" method="POST" onsubmit="return validateDelete();">
              <label for="item">Remove a completed item: </label>
              <input type="text" id="deleteItem" name="item" style="margin: 5px">
              <input class="button" type="submit" value="Submit" style="margin-top: 15px">
            </form>
          </div>
        </div>
      </li>
      <li>
        <div style="text-align: center;">
          <p>This project will be how to access an API</p>
          <a href="{{ url_for('apihome') }}">API here</a>
        </div>
      </li>
    </ol>
    <!-- Javascript -->
    <script src="/static/js/myJS.js"></script>
</body>
</html>
