<!doctype html>
<html>

<head>
  <title>My Personal Projects Page</title>
  <meta name="description" content="Projects page">
  <meta name="keywords" content="html tutorial template">
  <!-- default favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project_style.css') }}">
</head>
<body style="background-color:#00004d;">
  <a href="https://jacobpark1080.pythonanywhere.com/" style="display:inline-block;width:25%;height:25%">
    <img class="pusheen_img" src="{{ url_for('static', filename='images/home_pusheen.jpg') }}" alt='Pusheen the cat'>
  </a>
  <h1>Personal Projects</h1>
  <p>Collection of my notebooks and projects from the coding bootcamp,
     as well as any other personal items I have been working on.</p>

   <h1>TODO CRUD APP</h1>
   <div>
     <button id="myButton" class="button" type="button" onclick="showSchedule()">Click here to check your TODO schedule</button>
   </div>
   <script>
    function showSchedule() {
      var x = document.getElementById("mySchedule");
      var y = document.getElementById("myButton");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none"
      } else {
        x.style.display = "none";
      }
    }
    function addItem() {

    }
    function updateItem() {

    }
    function removeItem() {

    }
   </script>

   <div id="mySchedule" style="display: none">
     <div>
       <table class="table">
         <tr>
           <th>DATE</th><th>ITEM</th><th>STATUS</th>
         </tr>
         {% for data in data %}
         <tr>
           <td>{{data[2]}}</td><td>{{data[0]}}</td><td>{{data[1]}}</td>
        </tr>
        {% endfor %}
      </table>
     </div>
     <div style="width: 50%; margin: 0 auto">
       <p>How would you like to update your schedule?</p>
       <button style="float: left;" class="button" type="button" onclick="addItem()">Add Item</button>
       <button style="float: center;" class="button" type="button" onclick="updateItem()">Update Item</button>
       <button style="float: right;"class="button" type="button" onclick="removeItem()">Remove Item</button>
     </div>
     <!-- <form action="{{ url_for('projects') }}">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit">
     </form>  -->
  </div>
</body>

</html>
