<!doctype html>
<html>

<head>
  <title>My Personal Projects Page</title>
  <meta name="description" content="Projects page">
  <meta name="keywords" content="html tutorial template">
  <!-- default favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}?">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body style="background-color:#00004d;">
  <h1>Personal Projects</h1>
  <p>Collection of my notebooks and projects from the coding bootcamp,
     as well as any other personal items I have been working on.</p>
   <ul>
     <li>Haven't done any work. Check back later.</li>
   </ul>
</body>

</html>
